@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    transition: .2s;
}

.title {
margin: 15px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    flex-direction: column;
    margin: 0 10px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 890px;
    // width: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.keys {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
    cursor: pointer;
}

.Backspace {
    width: 128px;
}

.Tab {
    width: 70px;
}

.slash_key {
    width: 90px;
}

.CapsLock {
    width: 90px;
}

.Enter {
    width: 146px;
}

.ShiftRight,
.ShiftLeft {
    width: 118px;
}

.ControlLeft {
    width: 80px;
}

.ControlRight {
    width: 60px;
}

.Space {
    width: 378px;
}

.textarea {
    width: 890px;
    height: 200px;
    margin-bottom: 30px;
    // border: none;
    outline: none;
    font-size: 26px;
    background-color: #f7f7f7;
    padding-left: 10px;
    transition: .2s;
}

.keys.active {
    background-color: #333;
    color: #fff;
}

.keys.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

